.barchart-container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.character-input {
  width: 80%;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #7289da;
}

.fetch-button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #7289da;
  color: #ffffff;
  cursor: pointer;
}

.fetch-button:hover {
  background-color: #5a6fb2;
}

.chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 260px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.bar {
  width: 64px;
  background-color: #7289da;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

.bar-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.legend {
  margin-top: 12px;
  font-size: 14px;
  position: relative;
}

.legend:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  white-space: pre;
  z-index: 1;
}
